@model CalCount.Models.sidedishs

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<fieldset>
    <legend>sidedishs</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.calories)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.calories)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
